/* You can add global styles to this file, and also import other style files */
body{
    font-family:sans-serif ;
    margin: 0;
}

//.container{
    //max-width: 100%;
    //width: 100%;
    //margin:0 auto;
    //margin: auto;
//}
/* Importing Bootstrap SCSS file. 
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/